<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>
    <h1>Credits</h1>

    <a href="/">Home</a>
    <a href="/credits">Credits</a>

    <p>Ths Website has been created by me.</p>

    <img src="/images/Sergio.jpg" width="200" />

    <hr />


</body>
</html>
